body {
    background: white url("https://images.unsplash.com/photo-1500238844736-c079474fb33b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=934&q=80");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: gray;
    font-family: 'Source Sans Pro', sans-serif;
}

.panel {
    background-color: #ffffff;
    width: 600px;
    text-align: center;
}
.container {
    display: inline-block;
    margin: 25px 25px;
    position: relative;
    height: 1100px;
}

.buttonzone {
    padding: 35px 0px;
}
.button {
    border: 1px gray solid;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 80px;
    text-decoration: none;
    margin: 10px 0;
    transition: background-color 200ms ease-in-out;
    width: 100px;
    height: 25px;
    font-weight: 100;
}

.button:hover, .button:focus {
    background-color: #948b8b;
    color: rgb(0, 0, 0);
}

img {
max-width: 200px;
max-height: 200px;
}

 h1 {
    font-size: 3em;
    font-weight: 50;
    font-family: 'Playfair Display', serif;
}
 h3 {
    padding: 5px;
    font-weight: 100;
}
p {
    padding: 5px 0;
    letter-spacing: .2rem;
} 

@media (min-width: 400px){
    .buttonzone {
        padding: 10px;
    }
}
